/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* debug variables */
    --ly-debug-bg-header: rgb(172, 215, 230);
    --ly-debug-bg-nav-bar: #daa520;
    --ly-debug-bg-jumb-contaier: #00008b;
    --ly-debug-bg-jumbotron: #ee82ee;
    --ly-debug-bg-banner-image: #1e90ff;
    --ly-debug-bg-banner-text: #ffc0cb;
    --ly-debug-bg-download-banner: #228b22;
    --ly-debug-gb-social-links: #f08080;
    --ly-debug-gb-internal-links: #20b2aa;
    --ly-debug-gb-end-page: #7fffd4;
    --ly-debug-gb-end-page-buttons: rgb(255, 181, 192);
}

/* Generics */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    font-style: none;
    text-decoration: none;
    color: white;
}

.button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}
/* utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-small {
    max-width: 800px;
    margin: 0 auto;
}
.bg-white {
    background-color: white;
}
.bg-lightgrey {
    background-color: #e5e5e5;
}

.rotate {
    transform: rotate(180deg);
}
.helper {
    * {
        border: 1px dashed black;
    }
}
.separator {
    border: 1px solid lightgray;
}
/* #region debug */
.debug {
    * {
        border: 1px dashed black;
    }
    header {
        background-color: var(--ly-debug-bg-header);
    }
    #nav-bar {
        background-color: var(--ly-debug-bg-nav-bar);
    }
    #jumb-container {
        background: var(--ly-debug-bg-jumb-contaier);
    }
    #jumbotron {
        background-color: var(--ly-debug-bg-jumbotron);
    }
    .banner-image {
        background-color: var(--ly-debug-bg-banner-image);
    }
    .banner-text {
        background-color: var(--ly-debug-bg-banner-text);
    }
    #big-banner {
        background-color: var(--ly-debug-bg-download-banner);
    }
    #social-links {
        background-color: var(--ly-debug-gb-social-links);
    }
    .internal-links-list {
        border: 1px dashed white;
        background-color: var(--ly-debug-gb-internal-links);
    }
    #end-page-box {
        background-color: var(--ly-debug-gb-end-page);
    }
    #footer-logo {
        background-color: var(--ly-debug-gb-end-page-buttons);
        padding: 5px;
    }
    #footer-button {
        background-color: var(--ly-debug-gb-end-page-buttons);
        padding: 5px;
    }
}
/* #endregion debug */

/* #region common */

/* #region Header */
/* !Header */
header {
    padding: 20px;
    background-color: #255ee9;

    #nav-bar {
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    #nav-bar-logo {
        padding: 5px;
        width: 25%;
        text-align: left;
    }
    #nav-bar-link {
        text-align: center;
        padding: 5px;
        width: 50%;
        line-height: 25px;
    }
    /* Header Links  */
    .header-links {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    #nav-bar-login {
        text-align: right;
        width: 25%;
    }
    #cmd-accedi {
        background-color: white;
        font-size: 17px 20px;
    }
}
/* #endregion Header */

/* #region Main */
/* !Main */
main {
    #jumbotron {
        display: flex;
        min-height: 350px;
    }
    #jumb-container {
        background-image: url("../img/jumbo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        object-fit: none;
        height: 610px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Jumbo text */
    .jumbo-text {
        display: inline;
        text-align: center;

        color: white;
        line-height: 1.6;
        font-size: 18px;

        .jumbo-title {
            font-size: 3em;
        }

        .jumbo-buttons {
            padding: 20px;

            .download-button {
                background-color: white;
                margin-right: 20px;
                font-size: 15px;
            }
            .open-browser-button {
                font-size: 15px;
                background-color: #23272a;
                color: white;
            }
        }
    }

    /* *Banners */
    .banner-box {
        padding: 40px;
        display: flex;
        min-height: 350px;
    }
    .banner {
        display: flex;
        width: 100%;
    }
    .banner-image {
        width: 65%;
        display: flex;
        justify-content: center;
    }
    .banner-text {
        width: 35%;
        display: flex;
        flex-direction: column;
        color: #23272a;
        padding: 20px;
        justify-content: center;
        .banner-title {
            padding: 10px;
            font-size: 50px;
            justify-content: center;
        }
        .banner-caption {
            font-size: 18px;
            padding: 10px;
            line-height: 1.5;
        }
    }
    /* ?Wave divisor  */
    .wave-divisor {
        height: 200px;
        background-image: url("../img/wave.svg");
        opacity: 0.1;
        background-size: 150%;
    }
    /* *Big Banner Box */
    #big-banner-box {
        min-height: 1000px;
        padding: 20px;
        display: flex;
        #big-banner {
            min-height: 500px;
            width: 100%;

            .big-banner-text {
                display: flex;
                color: #23272a;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;

                .big-banner-title {
                    font-size: 50px;
                }

                .big-banner-caption {
                    font-size: 20px;
                    padding: 10px;
                    line-height: 1.5;
                }
            }
            .big-banner-image {
                height: 60%;
                display: flex;
                justify-content: center;
            }
            .download-caption {
                font-size: 30px;
                background-image: url("../img/stars.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50%;
                padding: 30px;
            }
            #big-banner-donwload-button {
                display: flex;

                align-items: center;
                text-align: center;
            }
        }
    }
}
/* #endregion Main */
/* !Footer */
footer {
    background-color: #23272a;
    #footer-link-box {
        min-height: 400px;
        padding: 10px 0px 20px 0px;
        display: flex;
    }
    #footer-links {
        display: flex;
        width: 100%;
        #social-links {
            width: 34%;
            display: flex;
            #social-links-title {
                color: #7289da;
                font-size: 40px;
                padding: 20px;
            }
            .language-selection {
                display: flex;
                align-items: center;
                color: white;
                padding: 10px;
            }
            #language-img {
                width: 40px;
                padding-right: 5px;
            }
            .social-links-icon {
                padding: 10px;
                color: white;
            }
            .icon {
                padding: 10px;
            }
        }
    }
    #internal-links-box {
        display: flex;
        width: 100%;
        flex-direction: row;
        .internal-links-list {
            width: 25%;
            .internal-links-section {
                list-style-type: none;
                padding: 20px;
                line-height: 2.5;
                font-size: 15px;
                color: white;
                .internal-links-section-title {
                    color: #7289da;
                }
            }
        }
    }
    #end-page {
        min-height: 50px;
        border: none;
        padding-top: 15px;
        #end-page-box {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #cmd-registrati {
                background-color: #8ea1e1;
                color: white;
            }
        }
    }
}
/* #endregion common */
